{% extends "base.html" %}

{% block content %}
<div class="row">
    <!-- Coluna centralizada -->
    <div class="col-md-6 offset-md-3 col-sm-12">
        
        <!-- Formulário para adicionar um novo Local -->
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Adicionar Nova Casa/Local</h5>
                <form action="/adicionar_local" method="POST">
                    <div class="input-group">
                        <input type="text" name="nome" class="form-control" placeholder="Ex: Casa Principal, Sítio..." required>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Lista das Casas cadastradas -->
        <h5 class="mb-3 text-secondary">Meus Locais</h5>
        <div class="list-group shadow-sm">
            <!-- Esse 'for' é um laço do Jinja2 (Python no HTML) -->
            {% for local in locais %}
                <!-- <a href="{{ url_for('ver_despensa', local_id=local.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                    <strong>{{ local.nome }}</strong>
                    <span class="badge bg-primary rounded-pill">Ver despensa ➔</span>
                </a> -->
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                <strong>{{ local.nome }}</strong>
                <div>
                    <form action="{{ url_for('eliminar_local', local_id=local.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-outline-danger me-2" onclick="return confirm('ATENÇÃO: Apagar este local e todos os produtos nele?');">Excluir</button>
                    </form>
                    <a href="{{ url_for('ver_despensa', local_id=local.id) }}" class="btn btn-sm btn-primary">Ver despensa ➔</a>
                </div>
            </div>
            {% else %}
                <div class="alert alert-info text-center mt-2">Você ainda não tem nenhum local cadastrado.</div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}